parameters:
    level: max
    paths:
        - config/
        - migrations/
        - public/
        - src/
        - templates/
        - tests/
    checkGenericClassInNonGenericObjectType: false
